.dashboard{

display:flex;

min-height:100vh;

background:#0f0f0f;

}

.sidebar{

width:280px;

background:#151515;

border-right:1px solid #222;

padding:25px;

display:flex;

flex-direction:column;

}

.logo{

font-size:32px;

font-weight:800;

color:#FFC107;

margin-bottom:30px;

}

.menu{

display:flex;

flex-direction:column;

gap:12px;

}

.menu button{

display:flex;

align-items:center;

gap:12px;

padding:14px;

background:#1b1b1b;

border:none;

border-radius:12px;

color:white;

cursor:pointer;

transition:.2s;

}

.menu button:hover{

background:#FFC107;

color:black;

}

.user-box{

margin-top:auto;

}

.user-name{

margin-bottom:10px;

font-weight:600;

}

.logout-btn{

display:flex;

align-items:center;

justify-content:center;

gap:10px;

width:100%;

padding:14px;

background:#1b1b1b;

border:none;

border-radius:12px;

color:white;

cursor:pointer;

}

.content{

flex:1;

padding:30px;

overflow:auto;

}

.topbar{

background:#151515;

border:1px solid #222;

padding:20px;

border-radius:18px;

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.cards-grid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(250px,1fr));

gap:20px;

margin-bottom:25px;

}

.stat-card{

background:#151515;

border:1px solid #222;

padding:25px;

border-radius:18px;

}

.stat-card span{

color:#9b9b9b;

}

.stat-card h1{

margin-top:10px;

font-size:34px;

color:white;

}

.grafico{

background:#151515;

border:1px solid #222;

padding:25px;

border-radius:18px;

}

.grafico h2{

color:white;

margin-bottom:20px;

}

.grafico-item{

display:grid;

grid-template-columns:

180px

1fr

60px;

gap:15px;

align-items:center;

margin-bottom:15px;

color:white;

}

.produto-nome{

overflow:hidden;

text-overflow:ellipsis;

white-space:nowrap;

}

.barra{

height:18px;

background:#252525;

border-radius:30px;

overflow:hidden;

}

.fill{

height:100%;

background:#FFC107;

}

@media(max-width:900px){

.sidebar{

width:90px;

}

.logo{

font-size:20px;

}

.menu button span,

.logout-btn span,

.user-name{

display:none;

}

.content{

padding:15px;

}

}